language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "nightly"
# command to install dependencies
install:
#  - pip install -r requirements.txt
  - pip install coverage<4
# command to run tests
script:
  coverage run ipgeo_test.py
after_success:
  coveralls
  
